@model MVC_TiendaOrdenadores.Models.ComponenteViewModel

@{
    ViewData["Title"] = "Default";
}


            <td>
                @Html.DisplayFor(modelItem => modelItem.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Calor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Megas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Cores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Coste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tipo)
            </td>


